@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vh 7vh;
    gap: 30vh;

    nav {

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 5vh;

            li {
                font-size: 18px;


                a {
                    text-decoration: none;
                    color: #161616;


                    &:hover {
                        color: #015DFF;
                    }
                }

                button {
                    border-radius: 50px;
                    padding: 16px 40px;
                    line-height: 30px;
                    font-size: 18px;
                    background-color: #161616;
                    color: white;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }

}

main {
    #upBanner {
        background-image: url('/src/images/upbanner/bg.jpg');
        width: 100%;
        height: 110vh;
        gap: 10vh;
        padding-top: 15vh;
        padding-left: 8vh;
        display: flex;
        justify-content: space-around;


        #upBannerMain {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;

            #upBannerHeader {
                text-align: left;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1vh;

                span {
                    background: #E6EFFF;
                    color: #015DFF;
                    padding: 6px 12px;
                    border-radius: 8px;
                    font-size: 20px;
                }

                h1 {
                    font-size: 55px;
                    width: 70vh;
                }

                p {
                    margin-top: 3vh;
                    margin-bottom: 7vh;
                    width: 60vh;
                    font-size: 18px;
                }

            }

            #upBannerLinks {
                display: flex;
                gap: 1vh;

                a {
                    border-radius: 50px;
                    padding: 16px 40px;
                    background-color: #FFCC7E;
                    color: white;
                    border: none;
                    text-decoration: none;
                    color: #161616;
                }
            }

            #upBannerStats {
                
            }

            img {
                height: 40vh;
            }
        }
    }
}