main {

    #upBanner {
        background-image: url('/src/images/upbanner/bg.jpg');
        width: 100%;
        height: 110vh;
        gap: 10vh;
        padding-top: 15vh;
        padding-left: 8vh;
        display: flex;
        justify-content: space-around;


        #upBannerMain {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .upBannerHeader {
                text-align: left;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1vh;

                h1 {
                    width: 70vh;
                    font-size: 55px;
                }

                p {
                    width: 60vh;
                }
            }

            #upBannerLinks {
                display: flex;
                gap: 1vh;
            }

            #upBannerStats {
                position: absolute;
                right: 0;
            }

            img {
                height: 40vh;
            }
        }

    }

    #ourServices {

        .ourServicesHeader {
            text-align: center;

            h1 {
                font-size: 40px;
            }
        }

        #ourServicesCards {
            display: flex;

            .ourServicesCard {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }
}