main {

    .upBanner {
        background-image: url('/src/images/upbanner/bg.jpg');
        width: 100%;
        height: 110vh;
        gap: 10vh;
        padding-top: 15vh;
        padding-left: 15vh;
        display: flex;
        justify-content: space-between;
        margin: 0;
        position: relative;

        #upBannerLeft {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .upBannerHeader {
                text-align: left;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1vh;
                margin-top: 0;
                z-index: 2;


                h1 {
                    width: 70vh;
                    font-size: 55px;
                }

                p {
                    width: 60vh;
                }
            }

            #upBannerLinks {
                display: flex;
                align-items: center;
                gap: 1vh;

                a {
                    display: flex;
                    align-items: center;

                    &:nth-child(2) {
                        width: 50vh;
                        background: none;
                        position: relative;
                        margin-left: 1vh;

                        &:hover {
                            color: #000;
                        }

                        i {
                            position: absolute;
                            left: 0;
                        }
                    }

                    .button-effect-text-last {
                        padding-left: 5vh;
                    }

                }
            }

            #starImage {
                position: absolute;
                left: 5vh;
                top: 15vh;
                z-index: 1;
            }

        }

        #upBannerRight {
            position: relative;

            i {
                padding-left: 0;
            }

            #upBannerStats {
                display: inline-flex;
                align-items: center;
                gap: 3vh;
                background-color: white;
                padding: 2vh;
                border-radius: 2vh;
                transform: translate(-12vh, 12vh);

                #upBannerStatsText {
                    display: flex;
                    flex-direction: column;

                    span {
                        color: #6b6b76;
                        font-size: 16px;
                    }

                    h1 {
                        color: #161616;
                    }
                }
            }

            #workActivityImage {
                position: absolute;
                bottom: 5vh;
                right: 60vh;
                z-index: 1;
            }

            .upBannerWoman {
                position: absolute;
                bottom: -1vh;
                right: 15vh;
                width: 90vh;
                height: 90vh;
                object-fit: contain;
            }
        }

    }

    #ourServices {
        display: flex;
        flex-direction: column;
        gap: 5vh;
        margin-top: 0;

        .ourServicesHeader {
            text-align: center;

            h1 {
                font-size: 40px;
            }
        }

        #ourServicesCards {
            display: flex;
            justify-content: space-around;

            .ourServicesCard {
                margin-top: 5vh;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 3vh;
                flex-direction: column;
                text-align: center;
                border-radius: 4vh;
                width: 65vh;
                height: 35vh;
                padding: 2vh;
                box-shadow: 0px 24px 64px 0px rgba(199, 206, 218, 0.25);

                i {
                    font-size: 20px;
                    padding-top: 3.2vh;
                    border-radius: 5vh;
                    width: 10vh;
                    height: 10vh;
                }

                .fa-box {
                    background-color: #bdeffb;
                }

                .fa-bolt {
                    background-color: #ffcc7e;
                }

                .fa-wand-magic-sparkles {
                    background-color: #ffe3ee;
                }

                p {
                    width: 50vh;
                    color: #474747;
                }
            }
        }
    }

    #ApproxSupportForYou {
        text-align: center;
        position: relative;
        margin-top: 12vh;
        margin-bottom: 6vh;

        p {
            border: solid 1px #e7e7e7;
            border-radius: 6vh;
            width: 100vh;
            transform: translateX(57vh);
            padding: 10px 20px;
            font-size: 18px;
            background-color: white;
        }

        #ApproxSupportForYou-OutsideLine {
            border-top: solid 1px #e7e7e7;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 3.5vh;
            z-index: -1;
        }
    }

    .AboutUs {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .aboutUsImages {
            position: relative;
            bottom: 12vh;

            img {

                &:nth-child(1) {
                    position: relative;
                    top: 4vh;
                    left: 4vh;
                    width: 90vh;
                    height: auto;
                    z-index: -1;
                }

                &:nth-child(2) {
                    position: absolute;
                    top: 19.4vh;
                    left: 17vh;
                    border-radius: 20vh;
                    width: 70vh;
                    z-index: 1;
                }
            }

        }

        .aboutUsMain {
            display: flex;
            flex-direction: column;
            width: 100vh;

            .aboutUsHeader {
                margin-top: 20vh;
            }

            .aboutUsCards {
                display: flex;

                .aboutUsCard {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 2vh;

                    i {
                        width: 12vh;
                        height: 12vh;
                        padding: 3.6vh 3.9vh;
                        font-size: 32px;
                        border-radius: 8vh;
                    }

                    .fa-lightbulb {
                        background-color: #ffcc7e;
                    }

                    .fa-mug-hot {
                        background-color: #BDEFFB;
                    }

                    a {
                        font-size: 24px;
                        text-align: unset;
                        width: max-content;
                    }

                    p {
                        margin-bottom: 5vh;
                    }
                }
            }

        }
    }

    #Portfolio {
        display: flex;
        gap: 5vh;
        flex-direction: column;
        height: 80vh;
        background-color: #fbf8ee;
        position: relative;
        margin-bottom: 12vh;

        .portfolioHeader {
            padding-left: 5vh;
        }

        .portfolioCards {
            overflow-x: scroll;
            scrollbar-width: none;

            .BothSwiperArrows {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                color: #161616;
                width: 45px;
                height: 45px;
                text-align: center;
                padding-top: 2vh;
                position: relative;
                top: 20vh;
                right: 20vh;
                border-radius: 6vh;
                border: none;
                cursor: pointer;
                box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
                overflow: hidden;

                &:hover {
                    background-color: #ffcc7e;

                    i {
                        transform: translateY(-36px);
                    }
                }

                &::after {
                    content: "";
                }

                i {
                    transition: transform 0.4s ease-in-out;

                    &:nth-child(1) {
                        padding-bottom: 20px;
                        padding-top: 3px;
                    }
                }
            }

            .button-prev {
                position: absolute;
            }

            .button-next {
                position: absolute;
                right: 10vh;

                i {
                    padding-left: 2px;
                }
            }

            .swiper-wrapper {
                display: flex;
                justify-content: space-around;
                gap: 5vh;
                padding-left: 5vh;

                .portfolioCard {
                    height: 85%;
                    overflow: hidden;
                    border-radius: 3vh;

                    img {
                        width: 100%;
                        height: 100%;
                        transition: 0.3s;
                        object-fit: cover;
                    }

                    .portfolioCardHover {
                        display: none;
                        position: absolute;
                        width: 100%;
                        top: 14vh;
                        left: 0;
                        text-align: center;
                        transition: 0.3s ease-in-out;

                        i {
                            background-color: white;
                            width: 8vh;
                            height: 8vh;
                            padding-top: 2.7vh;
                            border-radius: 20vh;
                            cursor: pointer;
                            transition: 0.8s;

                            &:hover {
                                background-color:#ffcc7e;
                            }
                        }

                        h1 {
                            color: white;
                        }
                    }

                    &:hover {

                        .portfolioCardHover {
                            display: block;
                        }

                        img {
                            filter: brightness(70%);
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }

    #Testimonial {
        background-image: url('../images/testimonial/testimonial-bg.jpg');
        position: relative;
        display: flex;
        flex-direction: column;
        
        .testimonialHeader {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .testimonialCards {
            overflow-x: scroll;
            scrollbar-width: none;
            
            .swiper-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 5vh;

                .testimonialCard {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    border-radius: 3vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-right: 10vh;
                    gap: 5vh;

                    img {
                        width: 5%;
                        height: 5%;
                        transition: 0.3s;
                        object-fit: cover;
                    }

                    .testimonialCardP {
                        text-align: center;
                        width: 80%;
                        font-size: 20px;
                    }

                    .testimonialPerson {
                        display: flex;
                        align-items: center;
                        
                        img {
                            width: 30%;
                            border-radius: 6vh;
                        }

                        .testimonialPersonText {
                            width: 100% !important;
                            padding-left: 3vh;
                        }
                    }
                }
            }

            .BothSwiperArrows {
                background-color: #fff;
                color: #7E7E7E;
                width: 45px;
                height: 45px;
                text-align: center;
                padding-top: 2vh;
                position: absolute;
                border-radius: 6vh;
                border: none;
                cursor: pointer;
                box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
                transition: 0.2s ease-in-out;
                overflow: hidden;

                i {
                    padding-bottom: 1.7vh;
                    transition: 0.6s;
                    color: #161616;
                }

                &:hover {
                    background-color: #ffcc7e;
                }

                &::after {
                    content: "";
                }
            }

            .swiper-button-prev {

                i {
                    &:nth-child(1) {
                        padding-left: 12vh;
                    }

                    &:nth-child(2) {
                        padding-left: 10vh;
                    }
                }

                &:hover i {
                    transform: translateX(-74px);
                }
            }

            .swiper-button-next {

                i {
                    &:nth-child(1) {
                        padding-right: 10vh;
                    }

                    &:nth-child(2) {
                        padding-right: 12vh;
                    }
                }

                &:hover i {
                    transform: translateX(74px);
                }
            }
        }
        
        #testimonialCompanies {
            display: flex;
            justify-content: space-around;
            margin-top: 10vh;
            
            .testimonialCompany {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                height: 8vh;
                position: relative;
                
                img {
                    transition: transform 0.6s;
                }

                &:hover {

                    img {
                        transform: translateY(-47px); /* Move up on hover (adjust as needed) */
                    }
                }
            }
        }
    }
    
    .whyChooseUsImages {
        position: relative;
    
        img {
    
            &:nth-child(1) {
                position: absolute;
                object-fit: cover;
                width: 85vh;
                height: 81.9vh;
                border-radius: 6vh;
            }
            
            &:nth-child(2) {
                position: relative;
                top: 3vh;
                object-fit: contain;
                width: 80vh;
                height: 82vh;
            }
        }
    
    }
    
    .whyChooseUsMain {
        display: flex;
        flex-direction: column;
        padding-bottom: 18.5vh;
        width: 90vh;
            
        a {
            width: 29vh;
            text-align: center;
        }
            
        .whyChooseUsCards {
            display: flex;
            justify-content: space-between;

            .whyChooseUsCard {

                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 20px;
                    color: #474747;
                }
            }
        }
    }

    #OurBlogs {
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;

        .ourBlogsHeader {
            text-align: center;
        }

        #ourBlogsCards {
            display: flex;
            justify-content: space-around;

            .ourBlogsCard {
                width: 65vh;
                height: 80vh;
                
                img {
                    object-fit: contain;
                    width: 100%;
                }

                .ourBlogsLinksHeader {
                    display: flex;
                    flex-direction: column;
                    gap: 3vh;
                    margin-top: 2vh;
                    position: relative;

                    a {
                        font-weight: 700;
                        transition: all 0.5s ease-out;

                        &:nth-child(1) {
                            background-color: #fff0d8;
                            width: max-content;
                            padding: 1vh 2vh;
                            border-radius: 1vh;
                            font-size: 16px;

                            &:hover {
                                background-color: #161616;
                                color: #fff0d8;
                            }
                        }

                        &:nth-child(2) {
                            font-size: 26px;

                            &:hover {
                                color: #FFCC7E;
                            }
                        }
                    }

                    &::after {
                        content: "";
                        position: relative;
                        width: 100%;
                        height: 1vh;
                        border-bottom: solid 1px #e7e7e7;
                        bottom: 0;
                        z-index: 1;
                    }
                }

                .ourBlogsTime {
                    display: flex;
                    gap: 4vh;
                    margin-top: 5vh;

                    span {
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        color: #474747;

                        &:nth-child(1) {
                            gap: 1vh;

                            &::after {
                                content: "";
                                margin-left: 3vh;
                                width: 8px;
                                height: 8px;
                                border-radius: 6vh;
                                background-color: #474747;
                            }
                        }
                    }
                }
            }
        }
    }

    #OurFAQ {
        display: flex;
        flex-direction: column;
        background-image: url('../images/our-faq/faq-bg.png');
        height: 100vh;

        .ourFAQHeader {
            text-align: center;
        }

        #ourFAQDetails {
            display: flex;
            align-content: space-around;
            justify-content: space-between;
            flex-direction: column;
            gap: 1vh;
            flex-wrap: wrap;
            height: 60vh;
        
            .ourFAQDetail {
                padding: 2vh;
                cursor: pointer;
                background-color: #fff;
                border-radius: 1vh;
                width: 100vh;
                height: 15vh;
                overflow: hidden;
                /* Ensures content doesn't overflow */
                transition: background-color 0.3s ease, height 0.3s ease;
                /* Transition effects */
        
                &[open] {
                    background-color: #fff;
                    /* Change background color on open */
                    height: 25vh;
                    /* Allow content to expand */
                }
        
                summary {
                    position: relative;
                    top: 1vh;
                    /* Needed for proper arrow placement */
                    color: #474747;
                    font-size: 20px;
                    padding: 2vh;
        
                    &::marker {
                        content: "";
                    }
        
                    .summaryArrow {
                        content: "\f107";
                        /* Triangle character for arrow (adjust if needed) */
                        font-size: 20px;
                        color: inherit;
                        /* Inherit color from summary */
                        position: absolute;
                        right: 10px;
                        /* Adjust positioning as needed */
                        top: 50%;
                        /* Center vertically */
                        transform: translateY(-50%);
                        /* Center vertically */
                        transition: transform 0.3s ease;
                        /* Transition for rotation */
                    }
                    
                }

                p {
                    font-size: 17px;
                    color: #161616;
                    width: 95vh;
                    padding-left: 2vh;
                }
        
                &[open] {
                    
                    .summaryArrow {
                        transform: translateY(-50%) rotate(180deg);
                        /* Rotate 180deg on open */
                    }
        
                    p {
                        transform: translateY(5vh);
                    }
                }
            }
        }
    }

    #Subscribe {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('../images/subscribe-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 70vh;

        .subscribeHeader {
            text-align: center;
        }

        form {
            display: flex;
            position: relative;

            input {
                color: #778196;
                height: 79px;
                padding: 0 40px;
                font-size: 18px;
                font-weight: 400;
                border-radius: 50px;
                width: 95vh;
                border: none;
            }

            button {
                position: absolute;
                right: 2vh;
                top: 1.4vh;
                padding: 2vh 4vh;
            }

            .button-effect:hover {
                background-color: #161616;
                color: white;
            }
        }
    }

}